#headerImage {
	
	background-image: url(../images/marvel-characters-header.jpg);
	width: 600px;
	height: 200px;
	border: 2px solid black;
	margin: 0 auto
}

header {
	
	font-size: 50px;
	text-align: center;
}

h2 {
	
	font-size: 30px;
	text-align: center;
	margin: 40px auto;
}

.words {
	
	font-size: 80px;
	text-align: center;
	margin-top: -60px;
}

#letterGuess {
	
	border: 1px solid black;
	height: 50px;
	width: 80%;
	font-size: 30px;
	text-align: center;
	margin: 20px auto;
	color: green;
}

#guessRemaining {
	
	border: 1px solid black;
	height: 50px;
	width: 80%;
	font-size: 30px;
	text-align: center;
	margin: 20px auto;
	color: red;
}

.col-md-2 {
	
	
	height: 50px;
}

.col-md-8 {
	
	border: 1px solid black;
	height: 100px;
}

/*
.hangman {
	
	magin: 0 auto;
	text-align: center;

}
*/

